:root {
  font-size: 12px; }

* {
  margin: 0;
  padding: 0; }

@media (min-width: 768px) and (orientation: landscape) {
  body {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif; }
    body a {
      text-decoration: none; }
    body h1, body h2, body h3 {
      color: #0c8dad;
      margin: 0.5rem; }
    body header {
      position: relative; }
      body header h1 {
        text-align: center;
        position: absolute;
        margin: 27% 43%;
        text-align: center;
        z-index: 3; }
      body header img {
        width: 10%;
        position: absolute;
        margin: 15% 44%;
        z-index: 1; }
      body header p {
        font-size: 8rem;
        color: #e1edf1; }
      body header video {
        width: 100%;
        opacity: 40%;
        z-index: 0; }
    body main a img {
      margin: 1rem;
      margin-left: 48%; }
    body main h2 {
      margin: 2rem;
      text-align: center;
      font-size: 5rem; }
    body main h3 {
      margin: 1.5rem;
      font-size: 6rem;
      opacity: 40%; }
    body main div {
      width: 70%; }
      body main div p {
        margin: 1.5rem;
        margin-bottom: 10rem; }
    body hr {
      margin-top: 10rem; }
    body section {
      font-size: 2rem;
      font-family: 'Quicksand', sans-serif;
      margin: 1.5rem;
      margin-left: 4%; }
      body section header {
        color: #0c8dad;
        font-weight: 600;
        font-size: 4rem; }
        body section header p {
          color: #0c8dad;
          opacity: 40%;
          font-size: 5rem; }
      body section div {
        width: 70%; }
        body section div p {
          color: #0e1d2f;
          font-size: 2rem;
          margin-top: 1rem;
          margin-bottom: 1rem; }
      body section form {
        width: 50%;
        padding: 1rem; }
        body section form input, body section form textarea {
          width: 100%;
          border: 1px solid #d7e9ef; }
        body section form .achico_boton {
          width: 25%; }
      body section img {
        width: 30%;
        margin: 0.5rem; }
      body section .ancho_cien {
        width: 70%;
        margin-left: auto;
        margin-right: auto; }
      body section .equipo {
        display: none; }
    body footer {
      width: 100%;
      min-height: 100px;
      background-color: #e1edf1;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "logoFooter textoFooter whatsappFooter instagramFooter facebookFooter" "logoFooter textoFooter ciudadFooter ciudadFooter ciudadFooter"; }
      body footer h2 {
        color: #0e1d2f;
        font-size: 1.5rem; }
      body footer h3 {
        color: #0e1d2f;
        font-size: 1rem; }
      body footer .logoFooter {
        width: 40px; }
      body footer img {
        width: 25px; }
      body footer #logoFooter {
        grid-area: logoFooter;
        justify-self: end; }
      body footer #textoFooter {
        grid-area: textoFooter;
        justify-self: start; }
      body footer #whatsappFooter {
        grid-area: whatsappFooter;
        justify-self: end;
        align-self: end; }
      body footer #instagramFooter {
        grid-area: instagramFooter;
        justify-self: center;
        align-self: end; }
      body footer #facebookFooter {
        grid-area: facebookFooter;
        justify-self: start;
        align-self: end; }
      body footer #ciudadFooter {
        grid-area: ciudadFooter;
        justify-self: center; }
    body .arriba {
      rotate: 180deg; }
    body .tamanio_boton {
      width: 3%;
      margin-left: 48%; }
    body .posicion_boton {
      position: absolute;
      margin: 40% 48%;
      z-index: 2; }
    body .tamanio_boton_formulario {
      font-size: 1rem; }
    body .mov {
      display: none; }
    body .boton_volver {
      width: 3%;
      position: fixed;
      margin: 1px 1px; } }

@media (max-width: 768px) and (orientation: portrait) {
  body {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif; }
    body a {
      text-decoration: none; }
    body h1, body h2, body h3 {
      color: #0c8dad;
      margin: 0.5rem; }
    body header {
      position: relative; }
      body header h1 {
        text-align: center;
        position: absolute;
        top: 51%;
        left: 27%;
        z-index: 3; }
      body header a img {
        width: 7%;
        position: fixed;
        top: 1%;
        left: 0%; }
      body header img {
        width: 30%;
        position: absolute;
        top: 30%;
        left: 34%;
        z-index: 1; }
      body header p {
        font-size: 8rem;
        color: #e1edf1; }
      body header video {
        width: 100%;
        opacity: 40%;
        z-index: 0; }
    body main a img {
      margin: 1rem; }
    body main h2 {
      margin: 2rem;
      text-align: center; }
    body main h3 {
      margin: 0.5rem;
      font-size: 6rem;
      opacity: 40%; }
    body main p {
      margin: 1.5rem; }
    body section {
      font-size: 2rem;
      font-family: 'Quicksand', sans-serif;
      margin: 1.5rem; }
      body section header {
        color: #0c8dad;
        font-weight: 600;
        font-size: 3rem; }
        body section header p {
          color: #0c8dad;
          opacity: 40%;
          font-size: 5rem; }
      body section p {
        color: #0e1d2f;
        font-size: 1.5rem; }
      body section form {
        margin: 0.5rem;
        padding: 1rem; }
        body section form input, body section form textarea {
          width: 100%;
          border: 1px solid #d7e9ef; }
        body section form .achico_boton {
          width: 40%; }
      body section img {
        width: 80%;
        margin: 00.5rem; }
      body section .ancho_cien {
        width: 100%; }
      body section .equipo {
        width: 25%; }
    body footer {
      width: 100%;
      min-height: 100px;
      background-color: #e1edf1;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 50% 50%;
      grid-template-areas: "logoFooter textoFooter whatsappFooter instagramFooter facebookFooter" "logoFooter textoFooter ciudadFooter ciudadFooter ciudadFooter"; }
      body footer h2 {
        color: #0e1d2f;
        font-size: 1.5rem; }
      body footer h3 {
        color: #0e1d2f;
        font-size: 1rem; }
      body footer .logoFooter {
        width: 40px; }
      body footer img {
        width: 25px; }
      body footer #logoFooter {
        grid-area: logoFooter;
        justify-self: end; }
      body footer #textoFooter {
        grid-area: textoFooter;
        justify-self: start; }
      body footer #whatsappFooter {
        grid-area: whatsappFooter;
        justify-self: center;
        align-self: end; }
      body footer #instagramFooter {
        grid-area: instagramFooter;
        justify-self: center;
        align-self: end; }
      body footer #facebookFooter {
        grid-area: facebookFooter;
        justify-self: center;
        align-self: end; }
      body footer #ciudadFooter {
        grid-area: ciudadFooter;
        justify-self: center; }
    body .arriba {
      rotate: 180deg; }
    body .tamanio_boton {
      width: 8%;
      display: block;
      position: relative;
      margin: auto; }
    body .posicion_boton {
      width: 8%;
      position: absolute;
      top: 80%;
      left: 45%;
      z-index: 2; }
    body .tamanio_boton_formulario {
      font-size: 1rem; }
  .web {
    display: none; } }

/*animaciones*/
body header a :hover {
  transform: scale(1.2); }
