:root {
    font-size: 12px;
}

*{
   margin: 0;
   padding: 0;
}

body {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    a {
        text-decoration: none;
    }
    h1, h2, h3 {
        color: #0c8dad;
        margin: 0.5rem;
    }
    header {
        a img{
            width: 8%;
        }
        img {
            width: 20%;
        }
        video {
            width: 100%;
            opacity: 50%;
        }
        p {
            font-size: 8rem;
            color: #e1edf1;
        }
    }
    main {
        h2 {
            margin: 1.5rem;
        }
        h3 {
            font-size: 6rem;
        }
    }
    section {
        font-size: 2rem;
        font-family: 'Quicksand', sans-serif;
        margin: 1rem;
        header {
            color: #0c8dad;
            font-weight: 600;
            font-size: 3rem;
            p {
                color: #0c8dad;
                opacity: 40%;
                font-size: 6rem;
            }
        }
        p {
            color: #0e1d2f;
            font-size: 1.5rem;
        }
        form {
            margin: 0.5rem;
        }
        img {
            width: 40%;
            margin: 00.5rem;
        }
    }
    footer {
        background-color: #e1edf1;
        h2 {
            padding: 1rem;
            color: #0e1d2f;
            font-size: 1.5rem;
        }
        .logoFooter {
            margin: 1rem;
            width: 8%;
        }
        img {
            margin: 1rem;
            width: 5%;
        }
    }
    .arriba {
        rotate: 180deg;
    }
    .tamanio_boton {
        width: 8%;
    }
    .boton_volver{
        width: 12%;
        margin: 1rem;
    }
    .tamanio_boton_formulario {
        font-size: 1rem;
    }
}