:root {
    font-size: 12px;
}

*{
   margin: 0;
   padding: 0;
}

body {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    a {
        text-decoration: none;
    }
    h1, h2, h3 {
        color: #0c8dad;
        margin: 0.5rem;
    }
    .header_1 {
        position: relative;
        z-index: 1;
        margin-top: 18%;
        margin-bottom: 18%;
        h1 {
            text-align: center;
        }
        img {
            top: 15%;
            display: block;
            margin: auto;
            width: 7%;
        }
        a {
            img {
                width: 3%;
            }
        }
        p {
            font-size: 8rem;
            color: #e1edf1;
        }
    }
    .header_2 {
        width: 5%;
        position: fixed;
        z-index: 2;
        right: 4%;
        top: 2%;
        a {
            img {
                width: 100%;
            }
        }
    }
    main {
        position: relative;
        z-index: 2;
        a img {
            margin: 1rem;
            margin-left: 48%;
        }
        h2 {
            margin: 2rem;
            text-align: center;
            font-size: 5rem;
        }
        h3 {
            margin: 1.5rem;
            font-size: 6rem;
            opacity: 40%;
        }
        div {
            width: 70%;
            p {
                margin: 1.5rem;
                margin-bottom: 10rem;
            }
        }
    }
    hr {
        margin-top: 10rem;
    }
    section {
        font-size: 2rem;
        font-family: 'Quicksand', sans-serif;
        margin: 1.5rem;
        margin-left: 4%;
        header {
            color: #0c8dad;
            font-weight: 600;
            font-size: 4rem;
            p {
                color: #0c8dad;
                opacity: 40%;
                font-size: 5rem;
            }
        }
        div {
            width: 70%;
            p {
                color: #0e1d2f;
                font-size: 2rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
        a {
            img {
                width: 3%;
                position: relative;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
        form {
            width: 50%;
            padding: 1rem;
            input, textarea{
                width: 100%;
                border: 1px solid #d7e9ef;
            }
            .achico_boton {
                width: 25%;
            }
        }
        img {
            width: 30%;
            margin: 0.5rem;
        }
        .ancho_cien {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    footer {
        width: 100%;
        position: absolute;
        z-index: 1;
        min-height: 100px;
        background-color: #e1edf1;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "logoFooter textoFooter whatsappFooter instagramFooter facebookFooter"
            "logoFooter textoFooter ciudadFooter ciudadFooter ciudadFooter";
        h2 {
            color: #0e1d2f;
            font-size: 1.5rem;
        }
        h3 {
            color: #0e1d2f;
            font-size: 1rem;
        }
        .logoFooter {
            width: 40px;
        }
        img {
            width: 25px;
        }
        #logoFooter {
            grid-area: logoFooter;
            justify-self: end;
        }
        #textoFooter {
            grid-area: textoFooter;
            justify-self: start;
        }
        #whatsappFooter {
            grid-area: whatsappFooter;
            justify-self: end;
            align-self: end;
        }
        #instagramFooter {
            grid-area: instagramFooter;
            justify-self: center;
            align-self: end;
        }
        #facebookFooter {
            grid-area: facebookFooter;
            justify-self: start;
            align-self: end;
        }
        #ciudadFooter {
            grid-area: ciudadFooter;
            justify-self: center;
        }
    }
    .arriba {
        rotate: 180deg;
    }
    .tamanio_boton_formulario {
        font-size: 1rem;
    }
}
@media (orientation: landscape) {
    body {    
        video {
            position: fixed;
            left: 0;
            top: 0;
            width: 102%;
            opacity: 20%;
            z-index: 0;
        }
        .mov {
            display: none;
        }
        .equipo {
            display: none;
        }
    }
}

@media (orientation: portrait) {
    body {
        .header_1 {
            position: relative;
            z-index: 1;
            margin-top: 60%;
            margin-bottom: 60%;
            h1 {
                text-align: center;
            }
            img {
                top: 15%;
                display: block;
                margin: auto;
                width: 20%;
            }
            a {
                img {
                    width: 8%;
                }
            }
        }
        video {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            opacity: 20%;
        }
        .web {
            display: none;
        }
        .header_2 {
            width: 10%;
            position: fixed;
            z-index: 2;
            right: 4%;
            top: 2%;
            a {
                img {
                    width: 100%;
                }
            }
        }
        main {
            h3 {
                font-size: 5rem;
                text-align: left;
            }
            div {
                width: 90%;
            }
        }
        section {
            div {
                width: 90%;
            }
            a {
                img {
                    width: 9%;
                    position: relative;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            form {
                width: 90%;
                padding: 1rem;
                input, textarea{
                    width: 100%;
                    border: 1px solid #d7e9ef;
                }
                .achico_boton {
                    width: 40%;
                }
            }
            img {
                width: 75%;
            }
            .ancho_cien {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .equipo {
            display: inline;
            width: 27%;
        }
    }
}

/*animaciones*/

body {
    header {
        a {
            & :hover {
                transform: scale(1.2);
            }
        }
        
    }
}